<div>
    <div class="form-group">
        <label for="inputHostname" class="col-sm-2 control-label">Hostname</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="inputHostname" placeholder="ip address or hostname" ng-model="device.hostname" required>
        </div>
    </div>
    <div class="form-group">
        <label for="deviceLoginUser" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="deviceLoginUser" placeholder="device username" ng-model="device.username" required>
        </div>
    </div>
    <div class="form-group">
        <label for="deviceLoginPass" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="deviceLoginPass" placeholder="device password" ng-model="device.password" required>
        </div>
    </div>
</div>